

@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    <script>


        $(function () {
            $("body").on("click", "#GetMore", function () {

                var lastelem = $("#sayac").val()
                $.ajax({
                    url: "/Product/ProductSlider",
                    data: { a: lastelem },
                    method: "POST",
                    success: function (d) {
                        $("#sayac").val(lastelem + 1);
                        $("#productsliderdiv").html(d);

                        var owl = $('.product-slider').owlCarousel({
                            items: 3,
                            loop: false
                        });
                        owl.trigger('refresh.owl.carousel')

                    }, error: function () {
                        alert("hata olustu");
                    }, complete: function () {
                    }
                })
            })
        })
    </script>

}



@if (TempData["reason"] != null)
{

    switch (TempData["reason"].ToString())
    {
        case "ActivateUser":

            @section scripts
            {
                <script>
                    $(function () {
                        setTimeout(function () {

                            $("#welcomepoup").modal("show").removeClass("notshow");
                            $('#welcomepoup').on('hidden.bs.modal', function (e) {
                                $("#welcomepoup").remove();
                            })
                        }, 1000)

                    })





                </script>
            }
            <div id="welcomepoup" class="modal" tabindex="-1" role="dialog">
                <style>
                    #welcomepoup {
                        -webkit-transition: all 1s linear;
                        -o-transition: all 1s linear;
                        transition: all 1s linear;
                    }

                        #welcomepoup.notshow {
                            transform: scale(0);
                            opacity: 0;
                        }
                </style>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">B-commerce</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>@TempData["popupmessage"].ToString()</p>
                        </div>

                    </div>
                </div>
            </div>

            break;
        case "PasswordChanged":
            @section scripts
            {
                <script>
                    $(function () {
                        setTimeout(function () {

                            $("#welcomepoup").modal("show").removeClass("notshow");
                            $('#welcomepoup').on('hidden.bs.modal', function (e) {
                                $("#welcomepoup").remove();
                            })
                        }, 1000)

                    })
                </script>
            }
            <div id="welcomepoup" class="modal" tabindex="-1" role="dialog">
                <style>
                    #welcomepoup {
                        -webkit-transition: all 1s linear;
                        -o-transition: all 1s linear;
                        transition: all 1s linear;
                    }

                        #welcomepoup.notshow {
                            transform: scale(0);
                            opacity: 0;
                        }
                </style>

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">B-commerce</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>@TempData["popupmessage"].ToString()</p>
                        </div>

                    </div>
                </div>
            </div>
            break;
        default:
            break;
    }

}

<div id="all">
    <div id="content">

        @Html.Action("Banners", "Product")

        <!--
        *** ADVANTAGES HOMEPAGE ***
        _________________________________________________________
        -->
        <div id="advantages">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                            <div class="icon"><i class="fa fa-heart"></i></div>
                            <h3><a href="#">We love our customers</a></h3>
                            <p class="mb-0">We are known to provide best possible service ever</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                            <div class="icon"><i class="fa fa-tags"></i></div>
                            <h3><a href="#">Best prices</a></h3>
                            <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                            <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                            <h3><a href="#">100% satisfaction guaranteed</a></h3>
                            <p class="mb-0">Free returns on everything for 3 months.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row-->
            </div>
            <!-- /.container-->
        </div>
        <!-- /#advantages-->
        <!-- *** ADVANTAGES END ***-->
        <!--
        *** HOT PRODUCT SLIDESHOW ***
        _________________________________________________________
        -->
        <div id="hot">
            <div class="box py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-0">Hot this week</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div id="productsliderdiv">


                @Html.Action("ProductSlider", "Product");
            </div>
            <!-- /#hot-->
            <!-- *** HOT END ***-->
        </div>
        <!--
        *** GET INSPIRED ***
        _________________________________________________________
        -->
        @*<div class="container">
                <div class="col-md-12">
                    <div class="box slideshow">
                        <h3>Get Inspired</h3>
                        <p class="lead">Get the inspiration from our world class designers</p>
                        <div id="get-inspired" class="owl-carousel owl-theme">
                            <div class="item"><a href="#"><img src="/img/getinspired1.jpg" alt="Get inspired" class="img-fluid"></a></div>
                            <div class="item"><a href="#"><img src="/img/getinspired2.jpg" alt="Get inspired" class="img-fluid"></a></div>
                            <div class="item"><a href="#"><img src="/img/getinspired3.jpg" alt="Get inspired" class="img-fluid"></a></div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- *** GET INSPIRED END ***-->
        <!--
        *** BLOG HOMEPAGE ***
        _________________________________________________________
        -->
        <div class="box text-center">
            <div class="container">
                <div class="col-md-12">
                    <h3 class="text-uppercase">From our products!</h3>
                    <p class="lead mb-0">What's new in the world of technology? <a href="/CategoryProduct/13/bilgisayar">Check our products!</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div id="blog-homepage" class="row">
                    <div class="col-sm-6">
                        <div class="post">
                            <h4><a href="post.html">Elektronik</a></h4>
                            <p class="author-category"><a href="/CategoryProduct/13/bilgisayar">Git...</a></p>
                            <hr>
                            <p class="intro">Her gün gelişmekte olan teknoloji, günlük hayatımızda da vazgeçilmez bir hal almış durumda. Televizyonsuz, telefonsuz, bilgisayarsız bir hayat hepimiz için düşünülemez hale geldi. Evlerde, iş yerlerinde, hatta okullarda bile teknolojik aletlerin birçoğundan bolca yararlanmaktayız </p>
                            <p class="read-more"><a href="/CategoryProduct/12/telefon-aksesuarlari-null" class="btn btn-primary">Elektronik</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="post">
                            <h4><a href="post.html">Kozmetik</a></h4>
                            <p class="author-category"><a href="/CategoryProduct/24/sac-bakim-sekillendirme">Git...</a></p>
                            <hr>
                            <p class="intro">Bakımlı olmak, şık görünmek, güzel hissetmek… Bunlar herkesin sahip olmak için çabaladığı şeylerdir. Bu yolda, özen göstermemiz gereken en önemli varlıklarımızdan biri de saçlarımız.Fiyat ve ödeme seçenekleriyle sizler için hazırladık. İyi alışverişler!</p>
                            <p class="read-more"><a href="post.html" class="btn btn-primary">Kozmetik</a></p>
                        </div>
                    </div>
                </div>
                <!-- /#blog-homepage-->
            </div>
        </div>
        <!-- /.container-->
        <!-- *** BLOG HOMEPAGE END ***-->
    </div>
</div>

