@using B_Commerce.SMVC.Common;

<div class="container">
    <div class="row">
        <div class="col-lg-6 offer mb-3 mb-lg-0">
            <a href="#"></a>
            <a href="#" class="ml-1"></a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">

            @if (SystemUser.CurrentUser != null)
            {
                <ul class="menu list-inline mb-0">
                    <li class="list-inline-item">

                        <div class="dropdown">
                            <button class="btn-primary dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="dropspn"> @SystemUser.CurrentUser.Name.Substring(0, 1).ToUpper()</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-item">
                                    @Html.ActionLink("Çıkış Yap", "Logout", "Login", new { @style = "color:black;" })
                                </div>
                                <div class="dropdown-divider"></div>
                                @if (SystemUser.CurrentUser.IsValid == false)
                                {

                                    <div class="dropdown-item">
                                        @Html.ActionLink("Aktif Et", "VerifyAccount", "Login", new
                                   {

                                       email = SystemUser.CurrentUser.Email,
                                   }, new { @style = "color:Black !important;" })
                                    </div>
                                    <div class="dropdown-divider"></div>
                                }

                                <a class="dropdown-item" style="color:black">en-US</a>
                                <a class="dropdown-item" style="color:black">tr-TR</a>
                            </div>
                        </div>



                    </li>

                </ul>


            }
            else
            {

                <ul class="menu list-inline mb-0">
                    <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    <li class="list-inline-item"><a href="/Login/Register">Register</a></li>
                </ul>
            }
        </div>
    </div>
</div>

<!-- *** TOP BAR END ***-->
