

@model List<ProductModel>

@if (Model != null && Model.Count > 0)
{
    <div class="dropdown-content" id="info">

        @foreach (var item in Model)
        {


            <a href="/Product/Detail/@item.ID">@item.ProductName</a>


        }

    </div>
}
else
{
    <div class="dropdown-content" id="info">


                   Bulunumadı.
    </div>

}
