@model LoginModel


<script>

    var btn_spinner = (function () {
        function processSubmitLoader() {
            $('button[data-spinning-button]').click(function () {
                var $this = $(this);
                let formId = $this.data('spinning-button');
                let $form = formId ? $('#' + formId) : $this.parents('form');
                var response = grecaptcha.getResponse();
                if ($form.length) {
                    if ($form.valid()) {
                        $this.html("<i class='fa fa-circle-o-notch fa-spin'></i>").attr("disabled", "")
                        $form.submit();
                    }
                }

            })
        }
        return {
            initSpinnerButton: processSubmitLoader
        }
    })();

    $(document).ready(function () {
        btn_spinner.initSpinnerButton();
    });</script>




@using (Ajax.BeginForm("Login", "Login", new AjaxOptions
{


}))
{
    <div class="form-group">
        @Html.TextBoxFor(t => t.Email, new { placeholder = "Email", @class = "form-control", id = "email-modal" })
        @Html.ValidationMessageFor(t => t.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        @Html.PasswordFor(t => t.Password, new { placeholder = "Password", @class = "form-control", id = "password-modal" })
        @Html.ValidationMessageFor(t => t.Password, "", new { @class = "text-danger" })
    </div>

    <div class="text-center " id="spinner" hidden>
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>



    <div class="g-recaptcha" data-sitekey="6LecfMUUAAAAAEWupCgvJLFh2mRJ7LONNC6PedV0" data-callback="recaptcha_callback"></div>
    <p class="text-center">
        <button data-spinning-button id="btn_login" type="submit" disabled class="btn btn-primary">Login</button>
    </p>

}

<script>

    function recaptcha_callback() {
        var btn = document.querySelector('#btn_login');
        btn.removeAttribute('disabled');
    }
</script>

<p class="text-center text-muted">Not registered yet?</p>
<a href="/Login/Register"><p class="text-center" style="font-weight:800">Register now</p></a>

