@model Dictionary<string, int>
<div class="card-header">
    <h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
</div>
<div class="card-body">
    <form>
        <div class="form-group">
            @foreach (KeyValuePair<string,int> item in Model)
            {
                <div class="checkbox" id="checkbox">
                    <label>
                        <a href="@B_Commerce.SMVC.Common.MUriHelper.AddQueryStringItemToUrl("color",item.Key)">@item.Key (@item.Value)</a>


                    </label>
                </div>
            }

        </div>

        <button class="btn btn-default btn-sm btn-primary" id="colorapply"><i class="fa fa-pencil"></i> Apply</button>
    </form>
</div>
