@model List<BrandFilterModel>
<div class="card-body">
    <form>
        <div class="form-group">
            @foreach (BrandFilterModel item in Model)
            {
                <div class="checkbox">
                    <label>
                        <a href="@B_Commerce.SMVC.Common.MUriHelper.AddQueryStringItemToUrl("brand",item.BrandID.ToString())">@item.BrandName (@item.ProductCount)</a>
                    </label>
                </div>
            }
        </div>
        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
    </form>
</div>
