@using B_Commerce.SMVC.Common;

<div class="container">
    <div class="row">
        <div class="col-lg-6 offer mb-3 mb-lg-0">
            <a href="#"></a>
            <a href="#" class="ml-1"></a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            @if (SystemUser.CurrentUser != null)
            {
                <ul class="menu list-inline mb-0">
                    <li class="list-inline-item">
                        <span>Hoşgeldin, @SystemUser.CurrentUser.Name </span>
                        <a href="/Login/Logout">Çıkış Yap</a>
                        @if (SystemUser.CurrentUser.IsValid == false)
                        {
                            <a href="/Login/VerifyAccount?email=@SystemUser.CurrentUser.Email">Aktif Et</a>

                            //Html.ActionLink("aktif et", "VerifyAccount", "Login", new
                            //{
                            //    email = SystemUser.CurrentUser.Email
                            //}, null);


                        }

                    </li>

                </ul>

            }
            else
            {

                <ul class="menu list-inline mb-0">
                    <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    <li class="list-inline-item"><a href="/Login/Register">Register</a></li>
                </ul>
            }
        </div>
    </div>
</div>
<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LOGIN</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_PartialPoupLogin")


            </div>
        </div>
    </div>
</div>
<!-- *** TOP BAR END ***-->
