@model BannerModel
@{
    ViewBag.Title = "ProductSlider";
}

<h2>ProductSlider</h2>

@foreach (var item in Model.bannerModels)
{
    <ul>
        <li>@item.Image</li>
        <li>@item.Description</li>
    </ul>
}
