@model  B_Commerce.SMVC.Areas.Admin.Models.ProductModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @Html.Action("GetCategoryBranch", "Category", new { ID = Model.CategoryID,productName = Model.ProductName })
            </div>
            <div class="col-lg-12 order-1 order-lg-2">

                @Html.Action("ProductDetail", "Product", new { ID = Model.ID })


                @Html.Action("SameBrandProduct", "Product", new { brandID = Model.BrandID })


                @Html.Action("MoreProducts", "Product", new { CategoryID = Model.CategoryID })

            </div>
        </div>
    </div>
</div>